* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: ;
}
#aa {
	background-color: mediumpurple;
	padding-bottom: 100px;
	}

#aaa {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: Dimgray;
  padding: 51px;
  font-size: 20px;

 
}
::-webkit-scrollbar { 
    display: none;
}